/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff; /* Texto blanco sobre fondo oscuro */
    background-color: #222;
  }
  
  /* Encabezado */
  header {
    background-color: #111; /* Tono de gris más oscuro para el encabezado */
    padding: 20px;
  }
  
  /* Sección de películas */
  .peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pelicula {
    background-color: #333; /* Fondo ligeramente más claro para las películas */
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  /* Pie de página */
  footer {
    background-color: #111; /* Mismo tono de gris oscuro que el encabezado */
    padding: 20px;
    text-align: center;
  }